body {
  font-family: 'Raleway', sans-serif;
}

.centered {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  width: 80vw;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select-conatiner {
  width: 20rem;
}
