body > #root > div {
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

i {
  cursor: pointer;
}

/* .app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s;
}

.centered-with-input {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s;
}

button {
  background-color: white;
  border: none;
  outline: 1px solid rgb(167, 167, 167);
  border-radius: 2px;
  cursor: pointer;
}
